html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #EDEDEC;
}

p{
  font-size: 12px;
  text-align: justify;
}

ul a{
  color:black !important;
}

.navbar-default{
  background-color: #fff;
  border-color: #fff;
}

.navbar-brand img {
  height:250%;
}

#bs-example-navbar-collapse-1{

}

.search-icon{
  margin-left: 180px;
  margin-top: 7px;

}

.search-area {
  cursor: pointer;
}

.verticalLine {
  border-left: thick solid #ff0000;
}

/* Container holding the image and the text */
.banner-container {
   position: relative;
}

.banner-container img{
  width:100%;
  height:30%;
}

/* Bottom right text */
.banner-container .text-block {
   position: absolute;
   top: 40px;
   left: 275px;
   background-color: rgba(0,0,0,0.8);
   color: white;
   padding-left: 8px;
   padding-right: 15px;
   font-size: 35px;
}

.banner-container .intro-block {
   position: absolute;
   top: 24px;
   left: 555px;
   color: white;
   font-size: 33px;
   font-weight: bold;
}

.banner-container .btn {
   position: absolute;
   top: 30px;
   right: 285px;
   color: white;
   font-size: 12px;
   font-weight: bold;
   background-color:#88A1A4;
   border-radius:20px;
   border-color:#fff;
   border-width:2px;
}

footer .container {
  margin-top:10px;
}
footer .btn {
  color:black;
  font-weight:bold;
}
